.container {
  max-width: 1000px;
  margin: 40px auto;
  background-color: #fff;
  padding: 32px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.orderList {
  h3 {
    text-align: center;
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 30px;
    font-weight: 600;
  }

  .table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: #01ab78;
      color: white;

      th {
        padding: 14px 16px;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
      }
    }

    tbody {
      tr {
        background-color: #f9f9f9;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #f2fefb;
        }

        td {
          padding: 14px;
          text-align: center;
          color: #333;
          font-size: 14px;
        }
      }
    }
  }
   select{
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;

   }
  .deleteButton {
    padding: 8px 14px;
    font-size: 12px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;

    &:hover {
      background-color: #d32f2f;
      transform: scale(1.05);
    }
  }
}